<!-- views/partials/footer.ejs -->
<!--<p class="text-center text-muted">© Copyright 2014 The Awesome People</p>-->
<div class="footer-right">

    <a href="#"><i class="fa fa-facebook"></i></a>
    <a href="#"><i class="fa fa-twitter"></i></a>
    <a href="#"><i class="fa fa-linkedin"></i></a>
    <a href="#"><i class="fa fa-github"></i></a>

</div>

<div class="footer-left">
    <p>Booking Pariwisata &copy; 2018</p>
</div>
