<nav class="navbar navbar-inverse" id="siteNav" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                    <% if(profile==null){%>
            <a class="navbar-brand" href="/signin">
                <span class="glyphicon glyphicon-user">
                    Pariwisata
                </span>
            </a>
                    <%}else{%>
                    <a class="navbar-brand" href="/detailprofile">
                <span class="glyphicon glyphicon-user">
                    <%= profile.firstname%>
                    <%}%>
                </span>
            </a>
            <a class="navbar-brand" href="/bookings">
                <span class="glyphicon glyphicon-shopping-cart"><%= cart!=null?cart.length:0%></span>
            </a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/product">Product</a>
                </li>
                <% if (profile==null){%>
                <li class="dropdown">
                    <a href="/signin">Login</a>
                </li>
                <%}else{%>
                <li>
                    <a href="/detailprofile">Welcome, <%=profile.firstname%></a>
                </li>
                <%}%>
                <% if(profile==null){%>
                <li class="active">
                    <a href="/signupv2">Sign Up</a>
                </li>
                <%}%>
                <% if(profile!= null) {%>
                <li>
                    <a href="/mybooking">My Bookings</a>
                </li>
                <%if(profile.role=='superadmin'){%>
                <li>
                    <a href="/admin">Control Admin</a>
                </li>
                <%}%>
                <li>
                    <a href="/logout">Logout</a>
                </li>
                <<%}%>
            </ul>
        </div>

    </div>
</nav>