<title>
    <%= title%>
</title>
<% include ./bootstrap3.ejs%>
<link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap/css/custom.css">
<link rel="stylesheet" href="/form-signup/custom_signup.css">