extends layout

  
block content

  nav#siteNav.navbar-default.navbar-fixed-top(role="navigation")
    .container-fluid
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar")
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href="#")
          span.glyphicon.glyphicon-fire LOGO
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li.active
            a(href="#") Home
          li
            a(href="#{product}") Product
          li.dropdown
            if profile == null
              a(href="/signin") Login
            else
              a.dropdown-toggle(data-toggle="dropdown" href="#") Welcome, #{profile.firstname}
                span.caret
                  ul.dropdown-menu
                      li
                        a.dropdown-item(href="/detailprofile") Detail Profile
          if profile == null
            li
              a(href='/signupv2') Sign Up
          li
            a(href="#") Contact  
          li
            if profile !=null
               a(href="/logout") Logout
  //- HEADER
  header
    .header-content
      .header-content-inner
        #myCarousel.carousel.slide
          ol.carousel-indicators
            li.active(data-target="#myCarousel" data-slide-to="0")
            li(data-target="  #myCarousel" data-slide-to="1")
            li(data-target="#myCarousel" data-slide-to="2")
          .carousel-inner
             .item.active
                img(src="https://www.jnto.or.id/ThemeSite/img/aktivitas/detail-act-banner.png" style="width:50%")
             .item
                img(src="https://www.diykamera.com/wp-content/uploads/2017/07/cara-memotret-pemandangan.jpg" style="width:50%")
             .item
                img(src="https://i2.wp.com/gambar-pemandangan.com/wp-content/uploads/2017/06/Gambar-Pemandangan-Alam-Pantai-1323.jpg?fit=1366%2C768&ssl=1" style="width:50%")
          a.left.carousel-control(href="#myCarousel" data-slide="prev")
            span.glyphicon.glyphicon-chevron-left
              span.sr-only Previous
          a.right.carousel-control(href="#myCarousel" data-slide="next")
            span.glyphicon.glyphicon-chevron-right
              span.sr-only Next
        //h1= title
        //p DUMMY UNTUK INDEX
        //a.btn.btn-primary.bnt-lg(href="#") Coba Sekarang

  //- Section
  section.intro
    .container
      .row
        .col-lg-8.col-lg-offset-2
          span.glyphicon.glyphicon-apple(style="font-size: 60px")
          h2.section-heading=title
          p.text-light=title




