<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
        <% include ./partials/header-layout.ejs%>
</head>
<body>
    <% include ./partials/header-product.ejs%>

       <p>Test Detail Product</p>
    <P><%= product.nama_wisata%></P>
    <P><%= product.lokasi%></P>
    <P><%= product.deskripsi%></P>
        <p></p>
<footer class="footer-distributed">
        <% include ./partials/footer.ejs%>
</footer>
</body>

</html>