<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <% include ./partials/header-layout.ejs %>
</head>
<body class="container">
    <header>
        <!--Navigation -->
        <% include partials/header-index.ejs %>
        <!--END Navigation-->
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-6">
        <h1 class="container text-center">
            Booking Pariwisata Online
        </h1>
        </div>
        </div>
    </header>
<div class="jumbotron">
    <h1 class="text-center">Pariwasata Booking Online</h1>
</div>

<footer class="footer-distributed">
    <% include ./partials/footer.ejs%>
</footer>
</body>
<script src='/stylesheets/bootstrap/bootstrap/js/custom.js'></script>
</html>