<!-- views/pages/index.ejs -->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
    <% include ./partials/header-layout.ejs %>
</head>
<body>
        <!--Navigation -->
        <% include partials/header-index.ejs %>
        <!--END Navigation-->
        <div class="row">
        <h1 class="jumbotron btn-success text-center">
            Booking Pariwisata Online
        </h1>
        </div>
        </div>
    <h1 class="text-center">Pariwasata Booking Online</h1>
</div>

<footer class="footer-distributed">
    <% include ./partials/footer.ejs%>
</footer>
</body>
<!--<script src='/stylesheets/bootstrap/bootstrap/js/custom.js'></script>-->
</html>