<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
        <% include ./partials/header-layout.ejs%>
</head>
<body>

    <% include ./partials/header-product.ejs%>

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="container">
                <div class="row">
                        <div class="col-sm-4">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">Nama Kategori</div>
                                        <div class="panel-body"><img src="/images/product/wisata_edukasi/AnakKolongTangga/Anak_kolong_tangga_1.jpg" class="img-responsive" style="width: 100%" alt="Image"></div>
                                        <div class="panel-footer">Nama Pariwisata</div>
                                </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">Nama Kategori</div>
                                        <div class="panel-body"><img src="/images/product/wisata_edukasi/AnakKolongTangga/Anak_kolong_tangga_1.jpg" class="img-responsive" style="width: 100%" alt="Image"></div>
                                        <div class="panel-footer">Nama Pariwisata</div>
                                </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">Nama Kategori</div>
                                        <div class="panel-body"><img src="/images/product/wisata_edukasi/AnakKolongTangga/Anak_kolong_tangga_1.jpg" class="img-responsive" style="width: 100%" alt="Image"></div>
                                        <div class="panel-footer">Nama Pariwisata</div>
                                </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="panel panel-primary">
                                        <div class="panel-heading">Nama Kategori</div>
                                        <div class="panel-body"><img src="/images/product/wisata_edukasi/AnakKolongTangga/Anak_kolong_tangga_1.jpg" class="img-responsive" style="width: 100%" alt="Image"></div>
                                        <div class="panel-footer">Nama Pariwisata</div>
                                </div>
                        </div>
                </div>
        </div>
<footer class="footer-distributed">
        <% include ./partials/footer.ejs%>
</footer>
</body>

</html>